.blue {
    color: #0095F6;
}

.nav-link:active {
    background-color: #EFEFEF !important;
}

.gray {
    background-color: #EFEFEF !important;
}

.btn2{
    border: none;
    background-color: white;
}