.navbar {
    width: 150px;
    background-color: gray;
    padding: 10px;
    position: fixed;
    height: 100vh;
}
.custom {
    left: 150px !important;
}
.img-profile {
    width: 24px !important;
    height: 24px !important;
}
.modal-content {
    background-color: #262626 !important;
    color: #fff !important;
}
.instrg {
    display: none;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-navbar {
    background-color: rgb(0, 149, 246);
    color: white;
    border: none;
}

.btn-navbar:hover {
    background-color: #3498db;
    color: white;
}

input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

@media (min-width: 300px) and (max-width: 768px) {
    .navbar {
        width: 100%;
        height: 50px;
        background-color: gray;
        padding: 10px;
        position: fixed;
        z-index: 1;
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        bottom: 0px;
    }
    .nav-link {
        padding: 0px !important;
    }
    .side-one {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }
    .side-two {
        display: flex;
        justify-content: space-evenly;
        flex-grow: 1;
    }
    .desc {
        display: none;
    }
    .more {
        display: none !important;
    }
    .custom {
        display: none !important;
    }
}
